.section{
    position:relative;
    top:-6px;
    height: 60vh;
    width:100%;
   
    background: linear-gradient(0deg, rgba(47,240,85,1) 50%, rgba(0,209,247,1) 100%);
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    padding: 15vh 0;
}
.images{
    display:flex;
    width: max(40%, 300px);
    justify-content:space-between;
}

.images img{
    transition:0.5s ease;
}

@media screen and (min-width:768px){
    .images img:hover{
        transform:scale(1.2);
    }
}