.section{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-evenly;
    width:100%;
    min-height:95vh;
    gap:100px;
    padding:30px 10vw 40px;
    background: linear-gradient(0deg, rgba(0,209,247,1) 0%, rgba(128,0,255,1) 100%);
}

.container{
    width:85vw;
    min-height:350px;
    padding: 70px 12vw;
    border-radius:20px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    gap:30px;
    align-items:center;
    position:relative;
    perspective:400px;
    transform-style:preserve-3d;
    backface-visibility: hidden;
}
.container p{
    color:white;
}
.container *{
    z-index:5;
}
.container::before{
    content:'';
    width:95%;
    height:95%;
    position:absolute;
    top:2.5%;
    left:2.5%;
    background-color:transparent;
    border:2px solid white;
    border-radius:20px;
    z-index:4;
    transform:translateZ(60px);
    transform-style: preserve-3d;
}
.container img{
    width:150px;
    
    object-fit: contain;
    transform:translateZ(60px);
    transform-style: preserve-3d;
}
.textbox{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: flex-start;
    gap:25px;
    perspective:400px;
    transform-style: preserve-3d;
    
}
.textbox h2{
    transform:translateZ(30px);
}
.textbox h3{
    transform:translateZ(25px);
}
.textbox p{
    transform:translateZ(25px);
}
.section{
    position:relative;
    top:-4px;
}
.title{
    background: linear-gradient(0deg, rgba(80,71,255,1) 0%, rgba(0,247,174,1) 100%)fixed;
    background-clip:text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align:center;
  height:200px;
  white-space: nowrap;
  padding-top:130px;
}

@media screen and (min-width:768px) {

    .container{
        flex-direction:row;
        padding: 30px 7vw;
    }
    .textbox{
        width:45%;
    }
    .container img{
        width:200px;
        
    }
    .textbox h2{
        transform:translateZ(55px);
    }
    .textbox h3{
        transform:translateZ(45px);
    }
    .textbox p{
        transform:translateZ(35px);
    }

}
@media screen and (max-width:768px){
    .container::before{
        display:none;
    }
}
  