.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-evenly;
    width:100%;
    min-height:95vh;
    gap:50px;
    padding:100px 10vw 100px;
    background: linear-gradient(0deg, rgba(0,209,247,1) 0%, rgba(128,0,255,1) 100%);
}

.textbox{
  display:flex;
  flex-direction: column;
  align-items:flex-start;
  
}
.frame{
    border:2px solid white;
    animation:border-radius-animation 5s infinite linear;
    overflow: hidden;
    min-width:200px;
}
.frame img{
    transform: scale(1.1);
}

@keyframes border-radius-animation {
    0%, 100% {
      border-radius: 30% 70% 35% 65% / 71% 30% 70% 29%;
    }
    25% {
      border-radius: 77% 23% 32% 68% / 56% 47% 53% 44%;
    }
    50% {
      border-radius: 65% 35% 60% 40% / 32% 18% 82% 68%;
    }
    75% {
      border-radius: 77% 23% 32% 68% / 56% 47% 53% 44%;
    }
    
  }

.badges{
  display:flex;
  justify-content: space-evenly;
  width:100%;
  flex-wrap:wrap;
  gap:40px;
}
.badges img{
  
  object-fit: contain;

}
  @media screen and (min-width:768px){
    .container{
        flex-direction:row;
    }
    
    .badges{
      max-width: 250px;
    }
    .textbox{
      max-width: 250px;
    }
  }

