.container{
    position:relative;
    width: max(3vw, 300px);
    height:550px;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition:0.5s ease;
    padding:30px;
    cursor:pointer;
    
}
.container img{
    object-fit: contain;
    position:relative;
    transition:0.5s ease;
    top:80px;
}
.container h2{
    text-align:center;
    transition:0.5s ease;
    position:absolute;
    top:340px;
}

.container::before{
    content:'';
    border-radius:20px;
    position:absolute;
    top:0;
    left:0;
    width: max(3vw, 300px);
    height:550px;
    background-color: #00000020;
    box-shadow: none;
    opacity:1;
    transition:0.5s ease;
    
}
.container:hover{
    box-shadow: none;
}


.container p{
    position:relative;
    top:0;
    color:white;
    background-color:#00000060;
    padding:15px;
    border-radius: 10px;
    transition:0.5s ease;
    opacity:0;
}

.container button{
    position:relative;
    top:0;
    padding:15px;
    background-color:transparent;
    box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px white;
    border: solid 2px white;
    border-radius:20px;
    cursor:pointer;
    border:none;
    z-index:5;
    transition: all 0.5s ease;
    opacity:0;
}
.container *{
    z-index:5;
}
.container button h3{
    color:white;
}

.container:hover button h3{
    color:white;
}

.section{
    position:relative;
    top:-2px;
    padding: 0 5vw 10px;
    width:100vw;
    min-height:95vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    gap:80px;
    background: linear-gradient(0deg, rgba(128,0,255,1) 0%,  rgba(0,209,247,1) 100%);
}
.projects{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    gap:80px;
    width:100%
}

.title{
    width:100%;
    height:300px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:20px;
    background: linear-gradient(0deg, rgba(65,58,195,1) 0%, rgba(0,247,174,1) 100%) fixed;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title h3:nth-child(2){
    display:none;
}


@media screen and (min-width:768px){
    .projects{
        flex-direction:row;
        flex-wrap: wrap;
    }
    
    .container{
        cursor:default;
    }

    .container:hover p{
        opacity:1;
    }
    .container:hover h2{
        top:235px;
    }
    .container:hover img{
        top: 0;
    }
    

    .container:hover button{
        opacity:1;
    }

    .container:hover::before{
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
        background-color: #00000070;
    }
    
    .title h3:nth-child(2){
        display:block;
    }
    .title h3:nth-child(3){
        display:none;
    }
}

@media screen and (max-width:768px){

    
    .container.visible p{
        opacity:1;
        
        top:-40px;
    }
    .container.visible h2{
        top:460px;
    }
    .container.visible img{
        top: 0;
    }
    .container.visible button{
        opacity:1;
        top:-77px;
    }
    .container.visible::before{
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
        background-color: #00000070;
    }
}